.saveBtnContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.saveBtn {
    display: flex;
    height: 30%;
    width: 20%;
    align-items: center;
    justify-content: center;
}
.header {
    border-bottom: 1px solid black;
    height: 10%;
}
.formContainer {
    margin-top: 2%;
    width: 50%;
}
.title {
    display: flex;
    align-items: center;
}

.item {
    border: 1px solid black;
    height:12rem;
}
.bookRow {
    margin-top: 2%!important;
}
.cdRow {
    margin-top: 2%!important;
}
.furnitureRow {
    margin-top: 2%!important;
}
#specialAttribute {
    border: 2px solid black;
    padding: 10px;
    height: 15rem;
    width: 70%;
    padding-left: 2rem;
    margin-top: 5%;
}
label {
    width:18%;
    text-align: left;
    margin-top: 5%;
    
}
#typeLabel {
    width: 30%;
}
#productType {
    width: 30%;
}
.description {
    font-weight: 400;
}
#typeError {
    color: red;
    padding-left: 5%;
}
#skuError {
    color: red;
    padding-left: 5%;
}
#sku {
    text-transform: uppercase;
}
.colMargin {
    margin-left: 10px;
    margin-right: 10px;
}
.checkBoxWrapper{
    margin-top: 2%;
}
.itemContentRow {
    flex-flow: column;
    align-items: center;
}